target/
pkg/

Cargo.lock
*.rs.bk
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.tmp
node_modules/

.env
dist/   
build/
coverage/
*.bak

# npm / yarn
npm-debug.log
yarn-error.log
.npm/

# caching
.cache/
.parcel-cache/

# packaging
*.tgz
*.zip